/*Colors used:
/*$rich-black-fogra-29: rgba(0, 21, 36, 1);
$ming: rgba(21, 97, 109, 1);
$red: rgba(255, 0, 0, 1);
$amber-sae-ece: rgba(255, 125, 0, 1);
$kobe: rgba(120, 41, 15, 1);
$misty-rose: rgba(251, 227, 219, 1);
white:rgba(242,242,242,100%); 
black:rgba(34,34,34,100%)
*/
h1,
h2 {
  background-color: rgba(242, 242, 242, 100%);
  font-family: "Playfair Display", serif;
  line-height: 1.4;
  color: rgba(34, 34, 34, 100%);
}
h1 {
  font-size: 2.75em;
  font-weight: 600;
}
h2 {
  font-size: 2.25em;
  font-weight: 500;
}
h3,
h4,
h5 {
  background-color: rgba(242, 242, 242, 100%);
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
  color: rgba(34, 34, 34, 100%);
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
h5 {
  font: size 1.25em;
  font-weight: 400;
}
body {
  background-color: rgba(242, 242, 242, 100%);
  font-family: "Maitree", serif;
  font: size 16px;
  font-weight: 300;
  line-height: 1.6;
  color: rgba(34, 34, 34, 100%);
}
p {
  line-height: 1.4;
  font: size 1em;
  font-weight: 300;
}

img {
  width: 100%;
}
a {
  font-weight: 500;
  color: rgba(0, 21, 36, 1);
  text-decoration: none;
}
a:visited {
  color: rgba(0, 21, 36, 1);
}
a:hover {
  color: rgba(21, 97, 109, 1);
  text-decoration: underline;
}
a:active {
  color: rgba(255, 0, 0, 1);
}
.button {
  display: inline-block;
  background-color: rgba(21, 97, 109, 1);
  color: rgba(242, 242, 242, 100%);
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(0, 21, 36, 1);
  transition: 0.2s opacity;
}
.button:visited {
  color: rgba(242, 242, 242, 100%);
  font-weight: 400;
}
.button:hover {
  opacity: 0.6;
  text-decoration: none;
}
.button:active {
  opacity: 1;
  text-decoration: none;
}
.button.contact {
  background-color: rgba(255, 0, 0, 1);
  color: rgba(242, 242, 242, 1);
  font-weight: 400;
  text-transform: uppercase;
}
.button.contact:visited {
  color: rgba(34, 34, 34, 100%);
  font-weight: 400;
}
.button.contact:hover {
  opacity: 0.6;
  text-decoration: none;
}
.button.contact:active {
  opacity: 1;
  text-decoration: none;
}
header {
  background-color: rgba(251, 227, 219, 1);
  position: fixed;
  box-shadow: 2px 5px 11px 0px rgba(34, 34, 34, 0.46);
  -webkit-box-shadow: 2px 5px 11px 0px rgba(34, 34, 34, 0.46);
  -moz-box-shadow: 2px 5px 11px 0px rgba(34, 34, 34, 0.46);
  width: 100%;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
}
nav > ul > li > a:visited {
  color: rgba(0, 21, 36, 1);
}
nav > ul > li > a:hover {
  color: rgba(21, 97, 109, 1);
  text-decoration: underline;
}
nav > ul > li > a:active {
  color: rgba(255, 0, 0, 1);
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle,
.navigation.responsive {
  position: relative;
}
.navigation {
  margin: 0px;
}
.navigation a.icon {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 20px;
  padding-right: 10px;
}
.navtoggle.responsive li {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(21, 97, 109, 1);
}
.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
Selector {
  margin: 0 auto;
  position: relative;
  float: right;
  width: 100%;
}
.main-logo {
  max-width: 150px;
  text-align: center;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#introduction span {
  display: inline;
}
#introduction h3 {
  text-align: center;
}
#introduction p {
  text-align: center;
  padding: 0 10px;
}
#project h1 {
  text-align: center;
}
#contact h2 {
  text-align: center;
}
#contact p {
  text-align: center;
}
#P1-FITNICE h1 {
  text-align: center;
}
#intro p {
  text-align: center;
}
#my-process h2 {
  text-align: center;
}
#my-process img {
  text-align: center;
}
#empathize img {
  text-align: center;
}
#ideate img {
  text-align: center;
}
#test-iteration img {
  text-align: center;
}
#final-prototype img {
  text-align: center;
}
#Prototype-link h2 {
  text-align: center;
}
#Prototype-link nav {
  text-align: center;
}
#Prototype-link p {
  text-align: center;
}
#about h1 {
  text-align: center;
}
#about img {
  text-align: center;
}
#my-story h2 {
  text-align: center;
}
#skills-tools h2 {
  text-align: center;
}
#linkedin {
  height: 40px;
  width: 40px;
}
#instagram {
  height: 40px;
  width: 40px;
}
#social-media.icons {
  text-align: center;
}
#copyright p {
  text-align: center;
}
#introduction {
  background-color: rgba(251, 227, 219, 1);
  padding-top: 90px;
  display: inline-block;
  width: 100%;
}
#introduction h3 {
  background-color: rgba(251, 227, 219, 1);
}
.about-container {
  padding-top: 90px;
}
.P1-container {
  padding-top: 90px;
}
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {
    transform: translate (0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*Medium devices (640px or larger)*/
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  .main-logo {
    min-width: 150px;
    float: left;
    padding-left: 10px;
  }
  .header-container nav {
    width: auto;
    float: right;
    padding-top: 5px;
    margin-top: 4px;
  }
  #introduction {
    padding-top: 100px;
  }
  #introduction span {
    display: block;
  }
  body {
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 30%;
  }
  .row h3 {
    text-align: center;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  nav > ul {
    margin: 1em 0;
  }
  }
}
/*Large devices (1024px or larger)*/
@media only screen and (min-width: 1024px) {
  .col-lg-8 {
    width: 50%;
  }
  .col-lg-4 {
    width: 25%;
  }
  .main-logo {
    min-width: 150px;
    float: left;
    padding-left: 10px;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  nav > ul {
    margin: 1em 0;
  }
}

/*X-Large devices (1440px or larger)*/
@media only screen and (min-width: 1440px) {
  .col-xl-4 {
    width: 50%;
  }
  .main-logo {
    min-width: 150px;
    float: left;
    padding-left: 10px;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  nav > ul {
    margin: 1em 0;
  }
}

/*Extra-Large devices (1920px or larger)*/
@media only screen and (min-width: 1920px) {
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  nav > ul {
    margin: 1em 0;
  }
}
[class*="col-"] {
  float: left;
  padding: 0 10px;
}
